* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #333;
}

h1 {
  text-align: center;
  padding: 20px;
  color: cyan;
  font-family: Arial, Helvetica, sans-serif;
}
